<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>IdDetails</th>
                <th>IdTypes</th>
                <th>Name</th>
                <th>Contact</th>
                <th>VaccineName</th>
               
                <!-- Add more columns for other user attributes -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.idDetails}"></td>
                <td th:text="${user.idType}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.contact}"></td>
                <td th:text="${user.vaccineName}"></td>
                <!-- Add more columns for other user attributes -->
            </tr>
        </tbody>
    </table>


</body>
</html>
